/* @import "waybar.css"; */
@import "colors.css";
* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}


window#waybar {
  background: rgba(0,0,0,0.20);
  opacity: 1;
  /* background-color: @surface_container_lowest; */
  color: @on_surface_variant;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  background: transparent;
  /* border: none; */
  padding: 0px 5px;
  margin: 0px 1.5px;
  min-width: 9px;
  border-bottom: 1px solid transparent;
}

#workspaces button.active {
  color: @primary;
  border-bottom-color: @primary;
  background: @surface_container;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.04);
}
#workspaces button.empty {
  opacity: 0.6;
}

#cpu,
#battery,
#pulseaudio,
#custom-arch,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-arch {
  /* padding: 0 5px; */
}

#battery.charging {
  color: @primary;   /* or any color you want */
}
#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
