/*
 * Matugen-generated colors for Rofi
 * (Based on your pywal script)
 */
* {
    background:     #1a1111;
    background-alt: #1a1111;
    background-op:  #1a111199;
    foreground:     #f0dede;
    selected:       #ffb3b4;
    active:         #e6bdbd;
    urgent:         #ffb4ab;
}
